@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - book_store_app_marian</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/book_store_app_marian.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: darkgrey;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-action="About" asp-controller="Home">About</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>
                        <li class="nav-item dropdown">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">

                                    Hello @User.Identity?.Name!
                                </a>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">

                                    My Account
                                </a>
                            }

                            <ul class="dropdown-menu">
                                <partial name="_LoginPartial" />
                            </ul>
                        </li>
                    </ul>
                    <form asp-controller="Product" asp-action="Search" method="get" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" name="searchTerm" aria-label="Search" value="@ViewBag.SearchTerm">
                        <button class="btn btn-outline-success" type="submit">Go</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight" style="padding-left: 25px !important">
                <span class="navbar-text mr-auto" style="background-size:100px">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="logo">
                        </span>
                    </a>
                </span>
            </div>
            @if (ViewContext.RouteData.Values["page"]?.ToString().Equals("/Identity/Account/Login",
            StringComparison.OrdinalIgnoreCase) ?? true)
            {
                <div class="p-2 bd-highlight" style="padding-right: 30px !important">
                    <a href data-bs-toggle="modal" data-bs-target="#AdvanceSearchModal">
                        <div class="modal-dialog" data-bs-toggle="modal" data-bs-target="#AdvanceSearchModal">Advanced
                            search</div>
                    </a>

                    <div class="modal fade" id="AdvanceSearchModal" tabindex="-1" aria-labelledby="searchModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="searchModalLabel">Advanced Search</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Search Form -->
                                    <form asp-controller="Product" asp-action="Search" method="get">
                                        <div class="form-group mb-3">
                                            <label for="searchTerm">Enter reference id or book title</label>
                                            <input type="text" name="searchTerm" class="form-control" id="searchTerm"
                                                value="@ViewBag.SearchTerm">
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                                <label for="categoryName">By category</label>
                                                <select name="categoryName" class="form-control" id="categoryName">
                                                    <option value="">Drop down menu</option>
                                                    @foreach (var category in Model.Categories)
                                                    {
                                                        <option value="@category.CategoryName">
                                                            @category.CategoryName</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="orderBy">Order by</label>
                                                <select name="orderBy" class="form-control" id="orderBy">
                                                    <option value="">Drop down menu</option>
                                                    <option value="PriceAsc">Price (Low to High)</option>
                                                    <option value="PriceDesc">Price (High to Low)</option>
                                                    <option value="NameAsc">Name (A to Z)</option>
                                                    <option value="NameDesc">Name (Z to A)</option>
                                                    <option value="AuthorAsc">Author (A to Z)</option>
                                                    <option value="AuthorDesc">Author (Z to A)</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <label for="minPrice">Min Price</label>
                                                        <div class="p-3"><input type="number" name="minPrice" class="form-control" id="minPrice"
                                                        value="@ViewBag.MinPrice" step="0.01" min="0.01" placeholder="Min"></div>
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="minPrice">Max Price</label>
                                                        <div class="p-3"> <input type="number" name="maxPrice" class="form-control" id="maxPrice"
                                                        value="@ViewBag.MaxPrice" step="0.01" min="0.01" placeholder="Max"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Search</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </header>
    <div class="container-xx mt-5" style="margin-bottom: 10%;">
        <main role="main" class="flex-fill">
            <div class="container-fluid" style="padding-left:7%">
                <div class="row">
                    @if (ViewContext.RouteData.Values["page"]?.ToString().Equals("/Identity/Account/Login",
                    StringComparison.OrdinalIgnoreCase) ?? true)
                    {
                        @await Html.PartialAsync("_Categories")
                    }
                    <div class="col-md-10">
                        <div class="mb-4">
                            @RenderBody()
                        </div>
                    </div>
                </div>

            </div>

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           <a class="nav-link" asp-action="About" asp-controller="Home">About</a>
           <a class="nav-link"  asp-action="ContactUs" asp-controller="Home">Contact Us</a>

            &copy; 2024 - book_store_app_marian - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
